.wd-profile-summary {
    text-align: left;
    margin-left: 25px;
    margin-top: 70px;
    position: relative;
}


.wd-link-table .wd-profile-edit-bot {
    text-align: right;
}


.wd-profile-summary a {
    text-decoration: none;
    color: red;
}

.wd-edit-form {
    width: 70%;
    display: flex;
    flex-direction: column;
}


.wd-edit-form select {
    width: 70%;
}



.wd-edit-button {
    margin: 0;
}

.wd-link-table {
    width: 40%;
}

.wd-link-table div {
    text-align: center;
}


