/* .wd-input-top {
    margin-top: 10px;
} */


.wd-assignment-btn-grp {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wd-ass-search {
    width: 20%;
}

.wd-assignment {
    border-left-color: green;
    border-left-width: 5px;
}

.wd-assignment-name {
    width: 100px;
}

.wd-assignment-name>p {
    color: grey;
    font-size: small;
    margin-bottom: 0px;
}

.wd-assignment-icon {
    color: green;
}

.wd-assignment-description {
    font: grey;
    font-size: 10;
}

.wd-thick {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.wd-flex-row-container {
    display: flex;
    flex-direction: row;
}

.wd-flex-grow-1 {
    flex-grow: 1;
}

.wd-flex-row-container {
    display: flex;
    flex-direction: row;
}

.wd-flex-grow-1 {
    flex-grow: 1;
}

.wd-width-75px {
    width: 75px;
}

.wd-ass-edit-label-margins {
    width: 200px;
    text-align: right;
}

.wd-ass-edit-label-margins label {
    margin-top: 10px;
    margin-right: 15px;
}

.wd-ass-group-label-margins {
    margin-left: 70px;
    margin-right: 10px;
    padding-right: 20px;
}

.form-check {
    margin-left: 200px;
}

