.wd-course-navigator .list-group-item {
    border: none;
    color: red;
    padding-left: 8px;
}

.wd-course-navigator .wd-course-navigation-option  {
    color: red;
    text-decoration: none;
    /* border-radius: 0%; Managed by style within the CourseNavigation component */
}

.wd-course-navigator .wd-course-navigation-option.active  {
    color: red;
    text-decoration: none;
    border-left: 2px solid black;
    background-color: white;
}

.wd-course-navigator .list-group {
    border-radius: 0px;
}

.wd-breadcrumb-inactive {
    text-decoration: none;
    color: black;
}

.breadcrumb-item {
    text-decoration: none;
}

.wd-no-text-decorations {
    text-decoration: none;
    color: black;
}

