.wd-module {
    border-radius: 0px;
    margin-bottom: 30px;
}

.wd-sidebar-btns {
    border-radius: 0px;
}

.wd-sidebar-btns > .list-group-item {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.wd-sidebar-btns > .list-group-item button {
    width: 100%;
    border-radius: 0px;
}

