
.wd-course-navigator {
    margin-left: 30px;
    margin-top: 30px;
    /* Need to figure out a way around this margin fix */
    margin-left: 20px;
}

.wd-course-navigator .list-group-item {
    border: none;
    color: red;
    padding-left: 8px;
}

.wd-course-navigator .list-group-item a {
    color: red;
    text-decoration: none;
}

.wd-course-navigator .list-group {
    border-radius: 0px;
}

.wd-course-navigator .list-group-item.active {
    background-color: white;
    border-left: 2px solid black;
}

.wd-course-navigator .list-group-item.active a {
    color: black;
}

.wd-navigation-option.active i {
    color: red;
}

.wd-navigation-option.active {
    background-color: white;
}

.wd-main-body {
    margin-left: 100px;
    margin-top: 15px;
}




