.wd-navigation-bar {
    width: 84px;
    background-color: black;
    position: absolute;
    height: 100%;
    text-align: center;
    padding: 0;
    align-items: center;
    display: block;
}


.wd-navigation-bar p {
    color: red;
    font-size: 12px;
    text-align: center;
}

.wd-navigation-bar a {
    text-decoration: none
}



.wd-red-icon {
    color: white;

}

.wd-navigation-option {
    width: 84px;
    height: 60px;
    text-align: center;
    display: block;
    position: relative;
}

.wd-navigation-bar img {
    height: auto;
    width: 84px;
  }
  