.wd-navigation-bar {
    width: "84px";
    float: left;
    background-color: black;
    position: absolute;
    height: 100%;
    text-align: center;
    list-style-position: inside;
    padding: 0;
}


.wd-navigation-bar p {
    color: red;
    margin-top: "3px";
    margin-bottom: "3px";
    font-size: 12;
}

.wd-navigation-bar a {
    text-decoration: none
}



.wd-red-icon {
    color: white;
    margin-top: "5px";
    margin-bottom: "5px";
    margin-left: "5px";
    margin-right: "5px";

}